@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: Poppins;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #787885;
}

.header-section h3 {
    font-size: 24px;
    font-weight: 700;
}

nav {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}
/* 
@media screen and (max-width: 576px) {

    .header-section ul{
        flex-direction: column;
        text-align: center;
        flex: none;
    }
    
} */

.journey-camera{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.journey-camera p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}


.btn-primary{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #E02C6D;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    height: auto;
    border: none;
    width: 250px;
    padding: 10px;
    border-radius:50px;
    justify-content: center;
    

}
.btn-primary img{
    padding-bottom: 15px;
    
}

.camera{
    background: url(images/Circle\ design.svg) no-repeat;
}



/* @media screen and (max-width: 576px){
    .journey-camera{
        flex-direction: column;
    }

    .camera{
        flex-direction: column;
        height: 257px;
        width: 257px;
    }
    
} */


.sponsored-icon{
    text-align: center;
    padding-top: 69px;
}

.sponsored-icon hr{
    text-align: center;
}


.collection-container{
    padding-top: 69px;
    
    text-align: center;
}


.box-container{
    display: grid;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
    
}

.box-container img{
    width: 300px;
    height: 256px;
}

.box-column{
    padding-bottom: 30px;
}

.box-1{
    border-radius: 5px;
    height: 535px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 70px;
    text-align: left;
    
}

.featured-products{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    gap: 96px;
}
